---
import "../../styles/global.css"
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar Cam</title>
</head>
<body>
    <main>
        <div class="flex bg-black">
            <p class="w-full text-center text-white">Avatars of your style</p>
        </div>
    </main>
</body>
</html>
