---
import "@styles/global.css";

import Navbar from "@components/navbar.astro";
import Footer from "@components/footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;600;700&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="preload"
			href="https://img.icons8.com/?size=100&id=qdQpy48X3Rjv&format=png&color=000000"
			as="image"
			crossorigin
		/>
		<title>Sam Huang</title>
	</head>
	<body>
		<Navbar currentPageTitle="ABOUT" />
		<main id="main-content"></main>
		<Footer />
	</body>
</html>
