---
import "../styles/global.css";

import Navbar from "@components/navbar.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>Sam Huang</title>
	</head>
	<body>
		<Navbar />
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore et blanditiis quo velit illum sit ipsa quidem, est ipsam
		odio magnam quod, aut quaerat impedit vel, eos dolor eveniet incidunt.
	</body>
</html>
