---
const year = new Date().getFullYear();
---

<div id="footer">
	<div class="z-40 flex h-16 w-full items-center bg-black px-5">
		<h1 class="absolute left-1/2 -translate-x-1/2 self-center text-xl font-extrabold text-white">
			Sam Huang © {year}
		</h1>
	</div>
</div>
