---
import "../styles/global.css";
import { PAGES } from "@lib/constants";

const currentPage = PAGES.find((p) => p.link === Astro.url.pathname)?.title || Astro.url.pathname;
---

<header id="navbar" class="sticky top-0 z-10 flex bg-black px-5">
	<div class="flex h-16 flex-1 justify-center">
		<h1 class="self-center font-extrabold text-white">
			<span class="text-xl">You are currently at</span><span
				class="ml-3 rounded-3xl bg-white px-3 py-1 text-lg text-black">{currentPage}</span
			>
		</h1>
	</div>
	<div class="flex h-16 flex-1 justify-center text-xl font-extrabold">
		<div class="flex gap-6 self-center px-5 py-2">
			<a class="navbar-link rounded-lg border-2 border-white px-3 py-1 text-white">About (UPCOMING)</a>
			<a class="navbar-link rounded-lg border-2 border-white px-3 py-1 text-white">Avatar Cam (UPCOMING)</a>
		</div>
	</div>
</header>

<style>
	.navbar-link {
		transition:
			background-color 0.25s ease,
			color 0.25s ease;
	}
	.navbar-link:hover {
		background-color: white;
		color: black;
	}
</style>
